apiVersion: apps/v1
kind: Deployment
metadata:
  name: helloworld-deployment
  namespace: hello-world
  labels:
    app: hello-world
spec:
  replicas: 7
  selector:
    matchLabels:
      app: hello-world
  template:
    metadata:
      labels:
        app: hello-world
    spec:
      containers:
      - name: hello-world-container
        image: diwakar3394/helloworld-demo-python-forked:v2
        ports:
        - containerPort: 8080

